
.contact-messages-search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .input-group{

        .form-control{
            border-radius: 20px !important;
            padding: 0.5rem;
        }

        button{
            z-index: 10;
        }
    }

    select{
        width: 150px;
        flex-wrap: wrap;
    }
}