@use "../../../styles/variables.scss" as v;

.advert-types-table{
    
    .table-card{
        border: none;
        
        .card-body{
    
            table{
                width: 100%;
                border-collapse:separate;
                border-spacing: 0 20px;
    
                @media(max-width:992px){
                    border-collapse: none;
                    border-spacing:none;
                }
                
                thead{
        
                    tr{
    
                        th{
                            text-align: left;
    
                            &:last-child{
                                text-align: center;
                            }
    
                            //for view/like/tour alignment
                            &:nth-child(4){
                                text-align: center;
                            }
                        }
                    }
    
                    @media(max-width:992px){
                        display: none;
                    }
                }
        
                tbody{
                    
                    tr{
                        vertical-align: middle;
    
                        @media(max-width:992px){
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                        }
                        
                        td{
                            text-align: center;
                            margin-bottom: 2rem;
                            background-color: rgb(217, 217, 217,0.3);
                            
                            span{
                                color:v.$color-text ;
    
                                &:first-child{
                                    font-weight: 600;
                                    font-size: 1rem;
                                }
                            }
    
                            &:first-child{
                                border-radius: 20px 0 0 20px;
                                text-align: left;
    
                                @media(max-width:992px){
                                    border-radius: 20px 20px 0 0;
                                }
                            }
        
                            &:last-child{
                                border-radius: 0 20px 20px 0;
    
                                @media(max-width:992px){
                                    border-radius: 0 0 20px 20px;
                                    margin-bottom: 1rem;
                                }
                            }
    
                            @media(max-width:992px){
                                margin: 0;
                                width: 100%;
                                padding-right: 2rem;
                                padding-left: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
.advert-type-search{
    width: 80%;

    .input-group{
        position: relative;

        .form-control{
            border-radius: 20px !important;
            padding: 0.5rem;
        }

        button{
            position: absolute;
            right: -3px;
            z-index: 10;
        }
    }
}