@use "../../styles/variables" as v;

.reset-password{
    .card {
    border: none;

    .card-body{

      .input-group{
        width: 100%;
        display: block;
        align-items: flex-start;
        flex-direction: column;
        

        .form-control {
          width: 100%;
          background-color: #eae9e9;
          border: none;
          border-bottom: 2px solid v.$color-text2;
        }

        &.password-group{
          position: relative;
          transition: all 0.2s linear;

          svg{
            position: absolute;
            top: 30px;
            right: 10px;
            transition: all 0.2s linear;
            z-index: 10;
          }
        }
      }
    }
  }

  a{
   color: v.$color-text;
   width: 100%;
   text-align: right;
   display: block;

   &:hover{
      color: v.$color1;
   }


  }
  button{
    width: 100px;
  }
}
  
    



  