@use "../../../../../styles/variables.scss" as v;

.edit-advert-sections-container{
    .nav-tabs{
        width: 100%;

        li{
            width: 50%;

            a{
                color: v.$color-text;
                &:hover{
                    border-color: v.$color1;
                    border-bottom: none;
                }

                &.active{
                    color: v.$color1;
                }
            }
        }
    }
}