@use "../../styles/variables" as v;

.forgot-password {

  .register {
    text-decoration: underline;
    color: black;
  }

  .card {
    border: none;
  }

  .form-control {
    background-color: #eae9e9;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid v.$color-text2;
  }

  a{
   color: v.$color-text;
   width: 100%;
   text-align: right;
   display: block;

   &:hover{
      color: v.$color1;
   }
  }

  .register-text{
   margin-top: 1rem;
   text-align: center;

   a{
      display: inline;
      text-decoration: underline;
   }
  }
}
