@use "../../../styles/variables.scss" as v;

.selling-section{
    background: #fdecff;
    border-radius: 20px;

    .row{
        box-sizing: content-box;

        @media(max-width:992px){
            flex-direction: column-reverse;
        }

        .col{
            img{
                &:first-child{
                    height: 100%;
                    width: auto;
                    object-fit: cover;
                    border-radius: 0 20px 20px 0;

                    @media(max-width:992px){
                        width: 100%;
                        height: auto;
                    }

                    &[alt="sale coupon"] {
                        width: 53px;
                        height: 53px;
                      }
                    &[alt="air quality"]{
                        width: 57px;
                        height: 52px;
                    }
                        
                }
            }

            .selling-card{
                
                .sell-card{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 2rem;
                    margin-bottom: 1.2rem;

                    .circle{
                        width: 87px;
                        height: 87px;
                        border-radius: 50%;
                        background-color:v.$color2-opacity-50;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @media(max-width:576px){
                            display: none;
                        }
                    }

                    .text{
                        width: 289px;
                        height: 79px;
                        text-align: start;

                        @media(max-width:576px){
                            width: auto;
                            text-wrap: wrap;
                            margin-bottom: 1rem;
                            text-align: center;
                        }

                        p{
                            font-size: 20px;
                            margin: 0;
                        }

                        p.sub-text{
                            font-size: 15px;
                            line-height:18px ;
                        }
                    }
                }
            }
    
            &:first-child{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                padding-left: 100px;
                padding-top: 60px;
                padding-bottom: 74px;
    
                @media(max-width:992px){
                    align-items: center;
                    text-align: center;
                    padding: 2rem;
                }
            }

            &:last-child{

                img{

                    @media(max-width:992px){
                        border-radius: 20px 20px 0 0;
                    }
                }

            }
        }   
    
        p{
            font-size: 40px;
            line-height: 40px;
            font-weight: 400;
            width: 325px;
            text-wrap: wrap;

            @media(max-width:576px){
                width: auto;
            }
        }
    }
}